/*Movil*/
@media only screen and (max-width:600px) {
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }

    header {
        background-color: #1b6f1b;
        padding: 20px;
    }

    .topnav #links {
        display: none;
    }

    .topnav a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
    }

    .topnav a.icon {
        background: black;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav ul {
        display: flex;
        justify-content: space-around;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .topnav ul li a {
        color: white;
        text-decoration: none;
        overflow: hidden;
        position: relative;
    }

    .main {
        background-color: #5782bb;
        color: white;
        padding: 40px;
        text-align: center;
    }

    .courses {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 20px;
    }

    .course-card {
        background-color: #f0f0f0;
        border-radius: 5px;
        margin: 10px;
        padding: 20px;
        width: 300px;
    }

    .course-card:hover {
        background-color: #ebeaea;
        border-radius: 5px;
        margin: 10px;
        padding: 20px;
        width: 300px;
    }

    footer {
        background-color: #432818;
        color: white;
        padding: 20px;
        text-align: center;
    }
}

/*Tablets*/
@media only screen and (max-width:800px) {
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }

    header {
        background-color: #6F1D1B;
        padding: 20px;
    }


    .topnav ul {
        display: flex;
        justify-content: space-around;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .topnav ul li a {
        color: white;
        text-decoration: none;
    }

    .main {
        background-color: #BB9457;
        color: white;
        padding: 40px;
        text-align: center;
    }

    .courses {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 20px;
    }

    .course-card {
        background-color: #f0f0f0;
        border-radius: 5px;
        margin: 10px;
        padding: 20px;
        width: 300px;
    }

    .course-card:hover {
        background-color: #ebeaea;
        border-radius: 5px;
        margin: 10px;
        padding: 20px;
        width: 300px;
    }

    footer {
        background-color: #432818;
        color: white;
        padding: 20px;
        text-align: center;
    }
}

/*PC*/
@media only screen and (min-width:800px) {
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }

    header {
        background-color: #6F1D1B;
        padding: 20px;
    }


    .topnav ul {
        display: flex;
        justify-content: space-around;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .topnav ul li a {
        color: white;
        text-decoration: none;
    }

    .main {
        background-color: #BB9457;
        color: white;
        padding: 40px;
        text-align: center;
    }

    .courses {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 20px;
    }

    .course-card {
        background-color: #f0f0f0;
        border-radius: 5px;
        margin: 10px;
        padding: 20px;
        width: 300px;
    }

    .course-card:hover {
        background-color: #ebeaea;
        border-radius: 5px;
        margin: 10px;
        padding: 20px;
        width: 300px;
    }

    footer {
        background-color: #432818;
        color: white;
        padding: 20px;
        text-align: center;
    }

}
